@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>Learn about how much I love movies!</p>
    <a asp-action="MyPodcasts"><img src="~/JoelHilton.jpg" /></a>
</div>
