@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>By using this site, you give me rights to sell your soul, store all your data, and siphon money from your bank accounts.</p>
